<div class="container">

  <mat-toolbar color="primary" *ngIf="canEdit">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button class="button" mat-flat-button
        (click)="openDialog()">
        Add new goods
      </button>

    </mat-toolbar-row>
  </mat-toolbar>


  <mat-card class="example-card" *ngFor="let product of products">
      <mat-card-title>{{product.title}}</mat-card-title>
      <img class="image" mat-card-image src="{{product.image}}">
    <mat-card-content>
      <p>Price: {{product.price | currency: 'UAH'}}</p>
      <p>Chip: {{product.configure.chip}}</p>
      <p>Year: {{product.year}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary" (click)="addToBasket(product)" type="button">Add to cart</button>
      <button class="button" mat-flat-button color="primary" [routerLink]="['/product',product.id]">Details..</button>
      <button class="button" mat-flat-button color="primary" mat-button [matMenuTriggerFor]="menu">Edit</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteItem(product.id)" >Delete</button>
        <button mat-menu-item (click)="openDialog(product)" >Edit</button>
      </mat-menu>
    </mat-card-actions>


  </mat-card>


</div>
