<div class="container">
  <mat-card class="example-card" *ngFor="let item of basket">
    <mat-card-title>{{item.title}}</mat-card-title>
    <img class="image" mat-card-image src="{{item.image}}">
    <mat-card-content>
      <p>Price: {{item.price | currency: 'UAH'}}</p>
      <p>Chip: {{item.configure.chip}}</p>
      <p> Year {{item.year}}</p>
      <p>SSD: {{item.configure.SSD}}</p>
      <p>Display: {{item.configure.display}}</p>
      <p>Memory: {{item.configure.memory}}</p>


    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary" (click)="minusItem(item)">-</button>
      <p>Amount: {{item.quantity}}</p>
      <button mat-flat-button color="primary" (click)="plusItem(item)" >+</button>
    </mat-card-actions>
  </mat-card>
</div>
