.container {
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.image {
  max-width: 300px;
}

.mat-mdc-card {
  background-color: rgba(66, 66, 66, 0.1);
  margin-right: 10px;
}

.button {
  margin-right: 5px;
}


