<div class="container">
  <mat-card class="example-card">
    <mat-card-title>{{product.title}}</mat-card-title>
    <img class="image" mat-card-image src="{{product.image}}">
    <mat-card-content>
      <p>Price: {{product.price | currency: 'UAH'}}</p>
      <p>Chip: {{product.configure.chip}}</p>
      <p> Year {{product.year}}</p>
      <p>SSD: {{product.configure.SSD}}</p>
      <p>Display: {{product.configure.display}}</p>
      <p>Memory: {{product.configure.memory}}</p>


    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">Add to cart</button>
      <button mat-flat-button color="primary" [routerLink]="['/product',product.id]">Details..</button>
    </mat-card-actions>
  </mat-card>
</div>
